<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <div class="hero">
        <nav>
            <img src="" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="dropdown">
                <img src="../../assets/images/Anushka.jpeg" class="user-pic">
                <div class="sub-menu-wrap">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="../../assets/images/profile.png">
                            <h3>Anushka Jadhav</h3>
                        </div>
                        <hr>
                        <a href="#" class="sub-menu-link">
                            <img src="../../assets/images/profile.png">
                            <p>Change Password</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="../../assets/images/logout.png">
                            <p (click)="logout()">Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
